
# psycopg2-binary
numpy>=1.19.0
pandas>=1.2.4
xlrd
pyarrow
jsonschema
altair
altair_saver
pyyaml
mysqlclient
more_itertools
sqlalchemy
Deprecated
google-cloud-storage
google-cloud-datastore  
google-cloud-secret-manager
matplotlib
dropbox